.cls1 {
    fill: #EEB;
}

.cls2 {
    fill: #BCE;
}

.cls3 {
    fill: #CDA;
}

.cls4 {
    fill: #FCC
}

.cls1,
.cls2,
.cls3,
.cls4 {
    fill-rule: evenodd;
}

.cls1:hover {
    fill: #eded8e;
}
.cls2:hover {
    fill: #8eaeed;
}
.cls3:hover {
    fill: #c0de85;
}
.cls4:hover {
    fill: #ff9999;
}

.RegionClickDetection {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
}